/* Background color */
body {
    background: linear-gradient(to right, darkred, red, darkred);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

/* Section for the entered probem, and the history button */
#problem-and-history {
    display: grid;
    margin: 0px 10% 0px 10%; /* Centers it dynamically */
    grid-template-columns: 75% 25%;
}

#problem {
    padding-top: 5px;  /* Readability */
    padding-left: 5px; /* Readability */
    border: 1px solid black;
    border-radius: 10px 0px 0px 10px;
    background-color: white;
}

#history-panel {
    display: grid;
    grid-template-columns: 100%;
    position: absolute;
    border-right: 2px solid black;
    padding: 0px 0px 0px 5px;
    left: -34%;
    width: 33%;
    height: 100%;
    background-color: white;
    transition: 1s;
}
#history-panel button {
    background-color: #0d6efd;
    color: white;
    border-radius: 10px;
    padding: 10px 15px 10px 15px;
}
#close-history {
    position: absolute;
    font-weight: normal;
    background-color: white;
    padding: 10px 10px 10px 10px;
    font-size: 15px;
    top: 5px;
    right: 5px;
}
#history-panel.visible {
    left: 0%;
    transition: 1s;
    height: 100%;
}
#history {
    justify-self: center;
    align-self: center;
    width: 100%;
}
#history button {
    width: 100%; /* Applying this to the div and button makes it take up the whole size */
    color: white;
    background-color: #0d6efd;
    padding: 20px 40px 20px 40px;
    border: 1px solid black;
    border-radius: 0px 10px 10px 0px;
    cursor: pointer;
}

#numbers-and-functions {
    display: grid;
    margin: 0px 10% 0px 10%;
    grid-template-columns: 25% 25% 25% 25%;
}
/* These four selectors are purely for visuals */
#number0 {
    border-top-left-radius: 10px;
}
#button-CE {
    border-top-right-radius: 10px;
}
#number9 {
    border-bottom-left-radius: 10px;
}
#button-equals {
    border-bottom-right-radius: 10px;
}

/* The calculator buttons */
.calc-number, .calc-button {
    border: 1px solid black;
    padding: 20px 40px 20px 40px;
    background-color: lavender;
    transition: 1s;
}
.calc-number:hover, .calc-button:hover {
    cursor: pointer;
    transition: 1s;
    background-color: white;
}